@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Heading {
  font-family: "Racing Sans One", cursive;
  color: rgb(226, 70, 13);
  font-size: 850%;
}

.dropdown-item:active {
  color: black;
  background-color: white !important;
}

.link-color {
  text-decoration: none;
  color: #124fc1;
  font: bold;
}

.link-color:hover {
  text-decoration: none;
  color: #5ca8f4;
}
